# Bayesian Revenue Projection
`By Ariel Aguirre`

---

This code pretends to project revenue using pymc3

In [7]:
import pandas as pd
pd.__version__

'0.18.1'

In [23]:
df = pd.DataFrame.from_csv("revenue.csv", sep=',', index_col=None)

In [24]:
df.head()

   install_dt  age  revenue
0  2016-07-01    0   572.68
1  2016-07-01    1   852.33
2  2016-07-01    2   533.93
3  2016-07-01    3   593.93
4  2016-07-01    4   456.14